.container {
    width: 700px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box6"; */
    grid-gap: 10px;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    grid-area: 1 2 / 1 2;
}

.box2, .box4 {
    border: 1px solid black;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    grid-area: 1 2 / 2 3;
}

.box5 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 1 2 / 3 4;
}