body{
  background-color: #fff8dc;
  margin:auto;
}

nav{
  background-color: #fff8dc;
  position: fixed;
  width: 100%
}
nav ul{
  text-align: right;

}
nav ul li{
  display: inline-block;
  padding-right: 5px;

}

.banner{
  background-image: url("material pic/banner.jpg");
  background-size: 100%;
  height: 150px;
  padding-top: 50px;
}
